<p>
    <span class="text-2xl text-bold text-red-700 mb-8">Probable Causes:</span>

    -    Repeated lung infections, such as pneumonia or tuberculosis, can cause damage to the bronchi, leading to bronchiectasis.
    -    Inherited disorders, such as cystic fibrosis, can also cause bronchiectasis.
    -    In rare cases, bronchiectasis may be caused by an autoimmune disease or a problem with the immune system.
    <br>
    <br>
    <span class="text-2xl text-bold text-red-700 mb-8">Prevention:</span>

    -    Quitting smoking and avoiding exposure to secondhand smoke can help prevent bronchiectasis.
    -    It is also important to treat lung infections promptly to reduce the risk of developing bronchiectasis.

</p>
