<p>
    <span class="text-2xl text-bold text-red-700 mb-8">Probable Causes:</span>

    -    COPD is most commonly caused by smoking cigarettes or other tobacco products.
    -    Long-term exposure to air pollution, dust, and other irritants can also cause COPD.
    <br>
    <br>
    <span class="text-2xl text-bold text-red-700 mb-8">Prevention:</span>

    -    Quitting smoking and avoiding exposure to secondhand smoke are the most important steps in preventing COPD.
    -    Avoiding exposure to air pollution, dust, and other irritants can also help reduce the risk of developing COPD.
</p>
