<p>
  <span class="text-2xl text-bold text-red-700 mb-8">Probable Causes:</span>

  - Pneumonia can be caused by a variety of bacteria, viruses, and other
  microorganisms. - Streptococcus pneumoniae is a common cause of bacterial
  pneumonia. - Influenza viruses, respiratory syncytial virus (RSV), and
  adenoviruses are common causes of viral pneumonia.
  <br />
  <br />
  <span class="text-2xl text-bold text-red-700 mb-8">Prevention:</span>

  - Vaccines are available to prevent some of the most common causes of
  bacterial pneumonia, including Streptococcus pneumoniae and Haemophilus
  influenzae type B (Hib). - Good hygiene, such as washing hands frequently and
  covering the mouth and nose when coughing or sneezing, can help prevent the
  spread of the viruses and bacteria that cause pneumonia.
</p>
