<p>
  <span class="text-2xl text-bold text-red-700 mb-8">Probable Causes:</span>

  - URTIs are usually caused by viruses, such as rhinovirus, adenovirus, and
  coronavirus. - In some cases, bacteria, such as Streptococcus pyogenes (group
  A streptococcus), can also cause URTIs.
  <br />
  <br />
  <span class="text-2xl text-bold text-red-700 mb-8">Prevention:</span>

  - Frequent hand washing and avoiding close contact with people who have
  respiratory infections can help prevent the spread of the viruses and bacteria
  that cause URTIs. - Avoiding exposure to secondhand smoke and other irritants
  can also help reduce the risk of developing URTIs.
</p>
